@charset "UTF-8";

.simpleForm{
	padding: 60px 0;
}

.loginForm{
	box-shadow: rgb(239, 239, 239) 0px 1px 2px 1px;
	width: 318px;
	margin:0 auto;
	padding:40px 35px;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 5px;
	font-size: 13px;
}

.emailInput{
	border:1px solid rgb(228, 228, 228);
	border-radius: 4px;
	background:rgb(255, 255, 255);
	width:100%;
	outline: none;
	padding:3px;
	margin-bottom:8px;
}

.passwordInput{
	border:1px solid rgb(228, 228, 228);
	border-radius: 4px;
	background:rgb(255, 255, 255);
	width:100%;
	outline: none;
	padding:3px;
	margin-bottom:8px;
}

.loginButton{
	margin:20px 0px;
	height:45px;
	cursor:pointer;
	display: inline-block;
	border-radius: 0.285714rem;
	font-weight: bold;
	text-align: center;
	background-color: rgb(250, 100, 98);
	color: #fff;
	padding:5px;
	font-size:14px;
	width:100%;
}