@charset "UTF-8";

/*가은 css추가 -> gift.jsp*/
.modal-body a.itemCreate-box{
	box-shadow: 0px 0px 0px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
	border-radius: 0.28571429rem;
	width:100%;
	height:30px;
}
.addItemBtn{
	color: #FF6F40;
	box-shadow: 0px 0px 0px 2px #FA6462 inset;
	font-weight:bold;
	border-radius: 0.28571429rem;
	
}
.modal-body{
	background-color: #F7F7F7;
}
.modal-body .itemBox{
	border:1px solid #c3d4fc;
	background: #F0F5FF;
}
.modal-body .itemList{
	flex-direction: column;
	position: relative;
	border: 1px soid rgba(0, 0, 0, 0.1);
	box-shadow: none;
}
.itemAddList #dynamicTable{
	border:1px solid rgba(0, 0, 0, 0.1);
	width:100%;
}
.itemAddList #dynamicTable > thead{
	padding: 0.5rem 1rem;
	background-color: rgb(239, 237, 237);
	display:flex;
}
.itemAddList #dynamicTable > thead > tr> th{
	color: rgb(117, 117, 117);
}
.itemAddList #dynamicTable > #dynamicTbody{
	padding:0.5rem 1rem;	
	position: relative;
	max-width: 100%;
}
.modal-body .listConWrapper{
	padding:0.5rem 1rem;
}
.modal-body .listConBox{
	position: relative;
	max-width: 100%;
	
}
.modal-body .listDetail{
	display: flex;
	justify-content:space-between;
	
}
.modal-body .itemListBtn{
	text-align:right;	
}
.modal-body .itemSave{
	display:flex;
	justify-content: space-between;
}

.modal-body .itemSave .itemSaveBtn{
	
}

.itemBox .itemBoxWrapper .itemSave{
	display:flex;
	justify-content:space-between;
}

.itemBox .itemBoxWrapper .itemSave .itemSaveBtn{
	width:60px;
	color: #fff;
	border-color:#008aff;
	background-color: #008aff;
	box-shadow: none;
	font-size:1rem;
	font-weight: 600;
	line-height: 1.5;
	display: inline-block;
	padding:3px;
	text-align: center;
	vertical-align: middle;
}

#checkBtn{
	border-radius: 10em;
	background-color: #E0E1E2;
	color: rgba(0, 0, 0, 0.6);
}


#checkBtn::after{
	content: "✔";
	color:rgba(0, 0, 0, 0.6);
}
#minusBtn{
	border-radius: 10em;	
	background: #E0E1E2 none;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	text-align: cneter;
}
#minusBtn::after{
	content:"-";
	color:rgba(0, 0, 0, 0.6);
}
#plusBtn{
	border-radius: 10em;	
	background: #E0E1E2 none;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	text-align: cneter;
}
#plusBtn::after{
	content: "+";
	color:rgba(0, 0, 0, 0.6);
	
}







