@charset "UTF-8";

.announce_title>h3 {
	width: 1110px;
	text-align: center;
	padding: 50px;
	margin: 0 auto;
	font-size: 2em;
}

.announce_title {
	font-size: 14px;
	line-height: 28px;
	color: #fff;
	background-color: transparent;
	color: #2d3666;
	border-radius: 6px;
	font-weight: 400;
	margin-right: 20px;
}

.announce_title > .button-2:hover {
	color: #fff;
	background-color: #333;
	border-color: #333;
}


.announce_b>p {
	width: 1110px;
	text-align: center;
	background-color: #DCF4FF;
	padding: 12px;
	margin: 0 auto;
	color: #0019DA;
	font-size: 1.1em;
	font-weight: 500;
}

.announce_g>p {
	margin: 0 auto;
	width: 1110px;
	text-align: center;
	background-color: #F6F6F6;
	padding: 12px;
	color: #313131;
	font-size: 1.1em;
	font-weight: 500;
}

.announce_w>p {
	margin: 0 auto;
	width: 1110px;
	text-align: center;
	background-color: white;
	padding: 12px;
	color: #313131;
	font-size: 1.1em;
	font-weight: 500;
}

.projectBox > div {
	border: 1px solid #cad4de;
	padding: 40px;
	border-radius: 4px;
	margin: 0 auto;
}

.projectBox div input {
	width: 40%;
}

.projectBox div textarea {
	width: 100%;
}

.projectBox div select {
	width: 20%;
}

